article {
    font-size: x-large;
    text-align: center;
}

strong {
    display: flex;
    border: 2px solid black;
    background-color: lightcyan;
    flex-wrap: nowrap;
}

body {
    display: flex;
    background-image: url("/src/images/hospital.jpg");
    background-size: cover;
}