.profile {
    justify-content: center;
}

/* article {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    -webkit-column-break-after: avoid;
} */

section.appointmentDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw;
    background-color: white;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
}
article.staffMemberDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw;
    background-color: white;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
}

img{
    float: left;
    max-width: 150px;
    max-height: 150px;
    border-radius: 25%;
}

section p {
    color: black;;
} 

/* .image {
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20%;
} */

div.detailsButtons {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    gap: 1rem;
}