.profile {
  justify-content: center;
}

/* article {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    -webkit-column-break-after: avoid;
} */
/* Styling Rule Set for appointment list item's details */
section.appointmentDetails {
  display: flex;
  /* Creates a flexbox container. 
  Container includes elements <p>, <span>,
  and <label>*/

  flex-direction: column;
  /* Creates column instead of default row 
  display for all contained elements*/

  align-items: center;
  /* Has no effect on <p>,
  but centers <span> and <label> */

  max-width: 50vw;
  /* Limits container to only half of the viewable area
  Default, width is equal to 100vw*/

  background-color: white;
  /* Generates background color. 
  Helps contrast from :root */

  border: 2px solid black;
  /* Small, but noticeable 
  border for clearer separation */

  margin: 0 auto;
  /* Centers column-flexed container horizontally*/

  margin-top: 2rem;
  /* Adds space between 
  Navigation Bar and <section> container */

  padding: 1rem;
  /* Adds additional padding to whole section. Pushes
  border further from main content. 
  Encourages readability */

  gap: 1rem;
  /* Adds small line spacing between
  details items in<section> */

  h1 {
    text-decoration: underline;
  }
  /* Generates underline for an <h1> nested in this 
 particular <section> element */
}
article.staffMemberDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
  background-color: white;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
}

img {
  float: left;
  max-width: 150px;
  max-height: 150px;
  border-radius: 25%;
}

section p {
  color: black;
}

/* .image {
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20%;
} */

div.detailsButtons {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  gap: 1rem;
}
