div .list{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 55vw;
}

div .listCard {
    display: flex;
    background-color: whitesmoke;

    align-items: center;
    height: 2.5rem;
    width: 50vw;
    gap: 2rem;
    margin: 1rem 0; 
}

section.scheduleWith {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

div.appointmentStatus {
    margin-left: 1rem;
}